img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

.overlay {
    display: inline-block;
    color: white;
    background-color: rgba(23, 216, 26, 0.8);
    padding: 10px;
    border-radius: 10%;
    position: absolute;
    bottom: 2px;
    left: 20px;
}
.img-container {
    position: relative;
  }
  p.ex1 {
    padding-top: 25px;
  }
  .config:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  
td{
  width: 300px !important;
  max-height: 150px;
    overflow:hidden;
    font-size: 13px;
    word-wrap: break-word;
}
th{
  font-size: 13px;
}


